{{ template "header" . }}
{{ template "sidebar" . }}

        <div class="page-wrapper">
            {{ template "navbar" . }}
            
            <div class="page-body">
                <div class="container-xl">
                    <!-- Page header -->
                    <div class="page-header d-print-none">
                        <div class="container-xl">
                            <div class="row g-2 align-items-center">
                                <div class="col">
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="{{ .app.Panel.GetFullLink }}">Home</a></li>
                                            <li class="breadcrumb-item active">{{ .app.DisplayName }}</li>
                                        </ol>
                                    </nav>
                                    <h2 class="page-title">
                                        {{ .app.DisplayName }}
                                    </h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Page body -->
                    <div class="page-body">
                        <div class="container-xl">
                            <div class="row row-cards">
                                {{ range .models }}
                                <div class="col-sm-6 col-lg-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <h3 class="card-title">
                                                <a href="{{ .model.GetFullLink }}" class="text-decoration-none">
                                                    {{ .model.DisplayName }}
                                                </a>
                                            </h3>
                                            <div class="mt-4">
                                                <div class="btn-group btn-group-sm">
                                                    <a href="{{.model.GetFullLink}}" class="btn">View</a>
                                                    {{ if .permissions.Create }}
                                                    <a href="{{.model.GetFullAddLink}}" class="btn">Add</a>
                                                    {{ end }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {{ end }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{{ template "footer" . }}
