<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log Entry - Administration</title>
    {{ template "header" . }}
</head>
<body>
    <div class="page">
        {{ template "sidebar" . }}
        
        <div class="page-wrapper">
            {{ template "navbar" . }}
            
            <div class="page-body">
                <div class="container-xl">
                    <!-- Page header -->
                    <div class="page-header d-print-none">
                        <div class="container-xl">
                            <div class="row g-2 align-items-center">
                                <div class="col">
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="{{ .admin.GetFullLink }}">Home</a></li>
                                            <li class="breadcrumb-item active">Log Entry</li>
                                        </ol>
                                    </nav>
                                    <h2 class="page-title">
                                        Log Entry
                                    </h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Page body -->
                    <div class="page-body">
                        <div class="container-xl">
                            <div class="row">
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h3 class="card-title">Log Details</h3>
                                        </div>
                                        <div class="card-body">
                                            <dl class="row">
                                                <dt class="col-sm-3">ID</dt>
                                                <dd class="col-sm-9">{{ .log.ID }}</dd>
                                                <dt class="col-sm-3">Action Time</dt>
                                                <dd class="col-sm-9">{{ .log.ActionTime }}</dd>
                                                <dt class="col-sm-3">User ID</dt>
                                                <dd class="col-sm-9">{{ .log.UserID }}</dd>
                                                <dt class="col-sm-3">User Repr</dt>
                                                <dd class="col-sm-9">{{ .log.UserRepr }}</dd>
                                                <dt class="col-sm-3">Content Type</dt>
                                                <dd class="col-sm-9">{{ .log.ContentType }}</dd>
                                                <dt class="col-sm-3">Object ID</dt>
                                                <dd class="col-sm-9">{{ .log.ObjectID }}</dd>
                                                <dt class="col-sm-3">Object Repr</dt>
                                                <dd class="col-sm-9">{{ .log.ObjectRepr }}</dd>
                                                <dt class="col-sm-3">Action Flag</dt>
                                                <dd class="col-sm-9">{{ .log.ActionFlag }}</dd>
                                                <dt class="col-sm-3">Message</dt>
                                                <dd class="col-sm-9">{{ .log.Message }}</dd>
                                            </dl>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ template "footer" . }}
</body>
</html>
